/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

.container {
  max-width: 1080px;
  padding: 0;
}

:root {
  --footer-height: 75px;
  --side-bar-width: 175px;
  --upper-bar-height: 70px;
  --text-color: white;
  --grey-color: #a3a3a3;
  --padding10: 10px;
}

/* MAIN */
.flex-container {
  display: flex;
  height: calc(100vh - var(--footer-height));
}

.side-bar {
  width: var(--side-bar-width);
  background-color: black;
}

.home-page {
  width: calc(100% - var(--side-bar-width));
  background-color: #141922;
}

/* SIDE BAR */

/* logo */
.logo-spotify {
  padding: var(--padding10);
  margin-bottom: var(--padding10);
}

.logo-spotify .logo {
  width: 100px;
}

.logo-spotify .logo-small {
  display: none;
  width: 100%;
}

/* nav */
.nav {
  display: flex;
  flex-direction: column;
}

.home,
.cerca,
.libreria {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: var(--padding10);
}

.home {
  border-left: 3px solid #adff2f;
}

.cerca,
.libreria {
  color: var(--grey-color);
}

.nav img {
  width: 25px;
  padding-right: 5px;
}

/* playlist */

/* HOME PAGE */
/* upper bar */
.upper-bar {
  height: var(--upper-bar-height);
  background-color: #080b12;
  padding-right: var(--padding10);
  position: sticky;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upper-bar button {
  padding: 10px 35px;
  background-color: #080b12;
  color: var(--text-color);
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 10px;
}

/* main content */

.main-content {
  height: calc(100% - var(--upper-bar-height));
  overflow: auto;
  /* padding-top: var(--upper-bar-height); */
}

/* FOOTER */
footer {
  height: var(--footer-height);
  background-color: #282828;
}

/* MEDIA QUARY */

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  :root {
    --side-bar-width: 50px;
  }

  .logo-spotify .logo-small {
    display: block;
  }

  .logo-spotify .logo {
    display: none;
  }
}
