/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;

  color: var(--main-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

.container {
  max-width: 1080px;
  padding: 0;
}

:root {
  --footer-height: 75px;
  --side-bar-width: 140px;
  --upper-bar-height: 70px;
  --main-color: white;
  --secondary-color: #a3a3a3;
  --padding10: 10px;
}

/* MAIN */
.flex-container {
  display: flex;
  height: calc(100vh - var(--footer-height));
}

/* SIDE BAR */
.side-bar {
  width: var(--side-bar-width);
  background-color: black;
}

.side-bar:last-child {
  margin-top: auto;
  padding: var(--padding10);
}

/* logo */
.logo-spotify {
  padding: var(--padding10);
  margin-bottom: var(--padding10);
}

.logo-spotify .logo {
  width: 100px;
}

.logo-spotify .logo-small {
  display: none;
  width: 70%;
}

/* nav */
.nav {
  display: flex;
  flex-direction: column;
}

.home,
.cerca,
.libreria {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: var(--padding10);
}

.home {
  border-left: 3px solid #adff2f;
}

.cerca,
.libreria {
  color: var(--secondary-color);
}

.nav img {
  width: 25px;
  padding-right: 5px;
}

/* playlist */
.playlist-section {
  padding: var(--padding10);
  font-size: 10px;
  color: var(--secondary-color);
}

.playlist {
  padding: 20px 0;
  color: var(--main-color);
}

.playlist-section .create-playlist {
  color: var(--secondary-color);
  padding: 5px;
}

.add-playlist {
  display: flex;
  align-items: center;
}

.add {
  padding: 5px;
  color: black;
  background-color: var(--secondary-color);
}

.playlist-section .playlist-name {
  color: var(--secondary-color);
  padding: var(--padding10) 0;
}

/* profile */
.down-section .install,
.down-section .profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.down-section .install {
  color: var(--secondary-color);
}

.down-section .install img {
  width: 10px;
}

.down-section hr {
  margin: 0 5px;
}

.install,
.profile {
  font-size: 10px;
  margin: 5px;
}

.profile {
  color: var(--main-color);
}

.profile-picture {
  font-size: 40px;
  background-color: var(--secondary-color);
  padding: 2px;
}

.profile-picture {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 20px;
}

/* HOME PAGE */
.home-page {
  width: calc(100% - var(--side-bar-width));
  background-color: #141922;
}

/* upper bar */
.upper-bar {
  height: var(--upper-bar-height);
  background-color: #080b12;
  padding-right: var(--padding10);
  position: sticky;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upper-bar button {
  padding: 10px 35px;
  background-color: #080b12;
  color: var(--main-color);
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 10px;
}

/* main content */
.main-content {
  height: calc(100% - var(--upper-bar-height));
  overflow: auto;
  /* padding-top: var(--upper-bar-height); */
}

/* category */
.category {
  display: flex;
  justify-content: center;
  gap: 15px;

  color: var(--secondary-color);
  font-size: 10px;
  padding: 15px 0;
}

.evidenza {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.category .evidenza hr {
  width: 20px;
  color: #adff2f;
}

.category li:hover {
  color: var(--main-color);
}

/* recent, created, popular */
.recent,
.created,
.popular {
  padding: var(--padding10);
}

.recent h2,
.created h2,
.popular h2 {
  font-size: 15px;
  padding-bottom: var(--padding10);
}

.recent-list,
.created-list,
.popular-list {
  display: flex;
  gap: var(--padding10);
}

.recent-element,
.created-element,
.popular-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  max-width: 120px;
}

.recent-list .recent-element img,
.created-list .created-element img,
.popular-list .popular-element img {
  /* position: relative; */
}

.popular-list .popular-element img {
  border-radius: 50%;
}

.recent-list .recent-element h3,
.created-list .created-element h3,
.popular-list .popular-element h3 {
  font-size: 10px;
}

.recent-list .recent-element h4,
.created h4,
.popular h4 {
  color: var(--secondary-color);
  font-size: 8px;
  padding-bottom: var(--padding10);
}

/* .player {
  display: none;
  color: white;
  width: 20px;

  position: absolute;
  bottom: 50px;
} */

/* FOOTER */
footer {
  height: var(--footer-height);
  background-color: #282828;
  padding: var(--padding10);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* song */
.flex-container-song img {
  max-height: 40px;
}

.flex-container-song h1 {
  font-size: 10px;
}

.flex-container-song h4 {
  font-size: 8px;
  color: var(--secondary-color);
}

.flex-container-song {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-icons {
  padding-left: 20px;
  color: var(--secondary-color);
}
.fa-heart {
  padding: 5px var(--padding10) 5px 0;
}

/* hover */
.nav > div:hover,
.playlist-section .add-playlist:hover,
.playlist-section li:hover,
.down-section .install:hover,
.flex-container-song h4:hover {
  filter: brightness(200%);
  cursor: pointer;
  color: var(--main-color);
}

.upper-bar button:hover {
  font-size: 12px;
  cursor: pointer;
}

.recent-list .recent-element img:hover,
.created-list .created-element img:hover,
.popular-list .popular-element img:hover {
  filter: brightness(50%);
}

.recent-list .recent-element img:hover .player {
  display: block;
}

.flex-container-song h4:hover {
  text-decoration: underline;
}

/* MEDIA QUARY */

@media screen and (max-width: 992px) {
  .category {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .recent-list {
    flex-wrap: wrap;
  }

  .footer-icons {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --side-bar-width: 50px;
  }

  .logo-spotify .logo-small {
    display: block;
  }

  .logo-spotify .logo {
    display: none;
  }

  .nav span {
    display: none;
  }

  .home {
    border-left: 0;
  }

  .playlist-section {
    display: none;
  }

  .down-section hr,
  .down-section .install div,
  .down-section .profile div {
    display: none;
  }
}
